@page "/fileupload"

<h3>Upload CSV File To Parse</h3>

<input type="file" asp-for="@UploadFile" />
<button @onclick="ParseCSV">Parse CSV</button>


@{
    if (UploadComplete != null && UploadComplete != false)
    {
        <h1>Upload Complete</h1>
    }
}


